@import url('./root.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

#root {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;

    .nav-bar {
      height: 12%;
      width: 100%;
      background-color: var(--components-bg-color);
      border-radius: 0 0 1em 1em;

      .container {
        height: 100%;
        display: grid;
        padding: 1em 2em;
        grid-template-columns: 1fr 1fr;
        color: var(--light-text-color);

        h1 {
          display: flex;
          align-items: center;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          background-color: var(--light-text-color);
          height: 100%;
          border-radius: 2em;

          li {
            list-style: none;
            transition: all 0.2s ease-out;

            &:hover {
              transform: translateY(-2px);
            }

            a {
              text-decoration: none;
              color: var(--components-bg-color);
              font-size: 1.5em;
              font-weight: 700;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(-50%);
                height: 2px;
                width: 0;
                background-color: var(--components-bg-color);
                transition: all 0.2s ease-out;
              }

              &:hover::after {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .pages {
      flex: 1;
      width: 100%;
      padding: 1em;
      display: flex;
      justify-content: center;
      overflow-y: hidden;
    }
  }
}
