:root {
  --components-bg-color: #001d39;
  --text-color: #bdd8e9;
  --dark-text-color: #0a4174;
  --btn-color: #49769f;
  --btn-hover: #4e8ea2;
  --bg-color: #6ea2b3;
  --light-text-color: #7bbde8;
  --font-main: "Inter", sans-serif;
}