PORT=5000
MONGO_URI=mongodb://localhost:27017/notesdb
# Replace with your MongoDB Atlas/Cloud URI if using remote DB
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/notesdb?retryWrites=true&w=majority

